@{
  Layout = "_Layout";
}

<h1>Welcome to Nathan Conn's Portfolio!</h1>
<p>@Html.ActionLink("About Me", "AboutMe", "Portfolio")</p>
<p>@Html.ActionLink("See Skills", "Index", "Portfolio")</p>
<p>@Html.ActionLink("See Projects", "Projects", "Portfolio")</p>
<p>@Html.ActionLink("See Education", "Education", "Portfolio")</p>
<p>@Html.ActionLink("See Past Work Experience", "Experience", "Portfolio")</p>